<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cashew1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cashew1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cashew"
        tools:targetApi="31">
        <activity
            android:name=".logOut_dialog"
            android:exported="false" />
        <activity
            android:name=".objects.logOut_dialog"
            android:exported="false" />
        <activity
            android:name=".profile_page"
            android:exported="false" />
        <activity
            android:name=".products_page"
            android:exported="false" />
        <activity
            android:name=".dressup_page"
            android:exported="false" />
        <activity
            android:name=".signup_page"
            android:exported="false" />
        <activity
            android:name=".signup_page2"
            android:exported="false" />
        <activity
            android:name=".orderways_page"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="true"
            android:theme="@style/Theme.Cashew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>